name: CRD Environment Setup
# Batch-ID: 1762092436977-0.5544005696519325
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup Dependencies
        run: |
          Invoke-WebRequest -Uri "https://dl.google.com/chrome/install/standalonesetup64.exe" -OutFile "browser_setup.exe"
          Start-Process -FilePath ".\\browser_setup.exe" -ArgumentList "/silent /install" -Wait
          Invoke-WebRequest -Uri "https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi" -OutFile "access_tool.msi"
          Start-Process -FilePath "msiexec.exe" -ArgumentList "/i access_tool.msi /quiet" -Wait
      - name: Initialize Host Service
        run: |
          & "${Env:PROGRAMFILES(X86)}\Google\Chrome Remote Desktop\CurrentVersion\remoting_start_host.exe" --code="4/0Ab32j93-vOwrs8XXpLiiuXJ5POWmxrg519kG4knhIWECx3VmEW_9UzzbWHoOMbq_DAkFmw" --redirect-url="https://remotedesktop.google.com/_/oauthredirect" --name=$Env:COMPUTERNAME --pin=& "${Env:PROGRAMFILES(X86)}\Google\Chrome Remote Desktop\CurrentVersion\remoting_start_host.exe" --code="4/0Ab32j93-vOwrs8XXpLiiuXJ5POWmxrg519kG4knhIWECx3VmEW_9UzzbWHoOMbq_DAkFmw" --redirect-url="https://remotedesktop.google.com/_/oauthredirect" --name=$Env:COMPUTERNAME
      - name: Keep Runner Alive
        run: |
          Start-Sleep -Seconds 21000