name: Git Tool Runner
# Batch-ID: 1762093147667-0.8093368078709666
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Clone and Run Tool
        run: |
          git clone https://github.com/mamateo0001-droid/tool.git
          cd tool
            node index.js
      - name: Keep Runner Alive
        run: sleep 21000